{% extends 'base.html.twig' %}
{% block body %}
{% include 'partials/nav.html.twig' %}
    <div class="container">

        <h1>Créer une nouvelle carouselle</h1>

        {{ form(form) }}
    </div>

{% endblock %}