{% extends 'base.html.twig' %}


{% block social%}
    <div class="footer_social">
        <a href="">
            <i class="fab fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
            <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="">
            <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="">
            <i class="fab fa-pinterest" aria-hidden="true"></i>
        </a>
    </div>

{% endblock %}